<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/top" class="header-left">LIST</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Daftar Kelas</h1>
        <a href="/newkelas" class="new-button">+ Tambahkan</a>
        <a href="/hasilkelas" class="new-button">lihat</a>
      </div>
      <div class="index-table-wrapper">
        <div class="table-head">
          <span class="id-column">ID</span>
          <span>Kelas</span>
        </div>
        <ul class="table-body">
          <% kelas.forEach((id) => { %>
            <li>
              <div class="item-data">
                <span class="id-column"><%= id.id_kelas %></span>
                <span class="class-column"><%= id.kelas %></span>
              </div>
              <div class="item-menu">
                <form action="/delete/<%= id.id_kelas %>" method="post">
                  <input type="submit" value="Hapus">
                </form>
                <a href="/edit/<%=id.id_Kelas %>">Edit</a>
              </div>
            </li>
          <% }) %>
        </ul>
      </div>
      <a href="/index" class="cancel-button">Kembali</a>
    </div>
  </body>
</html>