<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">WEB DAFTAR MAHASISWA</h2>
        <h1 class="title">LIST</h1>
        <p class="description">
          LIST dapat membuat dan mengatur daftar mahasiswa Anda dengan mudah.
          <br>
          Tambahkan mahasiswa yang Anda inginkan kapanpun, dimanapun.
        </p>
        <a href="/index" class="index-button">Lihat daftar</a><br>
        <a href="/login" class="logout-button">logout</a>
      </div>
      <div class="top-image">
        <img src="a.jpg">
      </div>
    </div>
  </body>
</html>