<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <div class="header-left">
        <h1>TRUNOJOYO Learning</h1>
    </div>
    <div class="header-right">
        <ul>
            <li><a href="/index">Mahasiswa</a></li>
            <li><a href="/kelas">Kelas</a></li>
            <li><a href="#home" class="home">Home</a></li>
        </ul>
    </div>
    </header>
    <main>
    <div class="top-wrapper">
      <div class="top-detail">
        <h2 class="subtitle">WEB UJI COBA</h2>
        <h1 class="title">LIST</h1>
        <p class="description">
          LIST dapat membuat dan mengatur daftar mahasiswa,dosen, dan kelas Anda dengan mudah.
          <br>
          Tambahkan semua yang Anda inginkan kapanpun, dimanapun.
        </p>
        <a href="/login" class="logout-button">logout</a>
      </div>
      <div class="top-image">
        <img src="a.jpg">
      </div>
    </div>
  </main>
  </body>
</html>